@font-face{
	font-family: MyFont;
    src: url(../font/Roboto/Roboto-Regular.ttf);
    font-weight: 100;
}
body{
	font-family: MyFont;
	width: 100%
}
.mychoice{
	text-align: center;
	margin: 0 auto;
	padding: 7px;
	border: 1px solid #c8bebe;
	border-radius: 5px;
	width: 70%;
}
.btn{
	border: none;
}

.clear {
    clear: both;
}
input[type="text"] {
    border: 0;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 64%;
    margin-left: 2%;
    font-family: MyFont;
}

select {
    border: 0;
    float: left;
    width: 17%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: MyFont;
}

input.btn {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15%;
    background-color: #f8a5a8;
    border-radius: 5px;
    color: #fff;
    margin-right: 2%;
    font-family: MyFont;
    font-weight: 400;
}
p{
	text-align: center;
	color: tomato;
    margin-top: 10px;
}